body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.image-slider {
    width: 100vw;
    position: relative;
    height: 100vh;
}

.slider-container {
    position: absolute;
    top: 0;
    left: 0;
    background: #eaeaea;
    width: 400%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.slider-container .slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slide:nth-child(1) {
    background-image: url(
        ../image/IMG_6733.jpeg);
}

.slide:nth-child(2) {
    background-image: url(
        ../image/IMG_6736.jpeg);
}

.slide:nth-child(3) {
    background-image: url(
        ../image/IMG_6739.jpeg);
}

.slide:nth-child(4) {
    background-image: url(
        ../image/IMG_6740.jpeg);
}

.slide h1 {
    font-size: 3em;
    color: #fff;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.arrow-left,
.arrow-right {
    background: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s;
}

.arrow-left:hover,
.arrow-right:hover {
    background: #fff;
    color: #000;
}

.arrow-left {
    left: 1em;
}

.arrow-right {
    right: 1em;
}


